#main {
    width: calc(100vw - 280px);
    padding: 5px 15px;
}

h1>ruby>rp,
h1>ruby>rt {
    color: gray;
}

h1>small {
    font-size: 15pt;
    color: gray;
}

.aka small {
    color: gray;
}

.aka small::after {
    content: ": ";
}

.aka .name {
    padding-right: 15px;
}

#archives ul {
    width: 100%;
    border: 1px solid lightgray;
    padding: 0;
}

#archives ul li {
    display: inline-block;
    width: 100%;
    list-style: none;
    margin: 0 2px;
    padding: 2px 0;
}

#archives ul li:nth-child(2n) {
    background-color: #EEE;
}

#archives ul li .comment {
    margin-left: 10px;
    color: gray;
}

nav {
    position: fixed;
    border-left: 1px solid gray;
    padding-left: 5px;
    right: 0;
    top: 0;
    width: 250px;
    min-height: 100vh;
}

nav img {
    max-width: 240px;
}

h2 {
    font-size: 13pt;
    margin-bottom: 3px;
}

dt {
    float: left;
    font-weight: bold;
}

dt::after {
    content: ":";
}

dl,
ul {
    margin-top: 5px;
}